/Code/AI
/Code/DataScience
/ReSearch/Face Recognition/archive
/ReSearch/Face Recognition/archive.zip
/Learning/Chapter5_Deep_Learning_Tips/dataset_new
/Learning/Chapter5_Deep_Learning_Tips/Lession_12/data
/Learning/Chapter5_Deep_Learning_Tips/Lession_12/data_augmentation
/Learning/Chapter6_Computer_Vision_Task/GreenParking
/Research/Dog and Cat Classification/CNNs/models
/Research/Voice Recognition/tensorflow-speech-recognition-challenge.zip
/Research/Voice Recognition/tensorflow-speech-recognition-challenge
/Learning/Chapter7_Recurrent Neural Network/RNN - Photo Description/archive
/Learning/Chapter7_Recurrent Neural Network/RNN - Photo Description/archive.zip
/Research/Dog and Cat Classification/CNNs/Dataset_Alzheimer
/Research/Alzheimer_s/Dataset
/Research/Alzheimer_s/models
/Research/Flower Classification/Dataset
/Research/Flower Classification/models
/Research/Face_Recognition/Dataset
/Research/Face_Recognition/Dataset_fine_tuning_train_test
/Research/Face_Recognition/Dataset_fine_tuning_train_valid_test
/Research/Face_Recognition/Dataset_face_fine_tuning_train_valid_test
Deep Learning.docx
*.h5
*.keras
*.pkl
/Documents/Deep Learning and Applications - BKHN